body{
    background-color: cornsilk;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 10px;
}
.comment{
    margin: 10px 0;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.menu{
    color:#999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size:15px;
    cursor: pointer;
}
.menu .icon:hover{
    color:#499ef3;
}